@model CoffeApp.Models.Order
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Twoje zamówienia";
   
}
<style>
        .coffee-inform {
          background-color: #442E26;
          color: white;
          font-weight: 700;
          font-size: 20px;
          padding: 10px;
          border-radius: 10px;
          text-decoration: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
           margin: auto;
           width: 70%;
           padding: 50px;
         
}
</style>





@using (Html.BeginForm("YourOrder", "Offer", FormMethod.Post))
{


    @Html.AntiForgeryToken()


    <div class="coffee-inform d-flex justify-content-center">
         "Twoje zamówienie numer  zostało złożone. Zapłać przy kasie nr 7 :)
    </div>
   
}
<script>
    // Generowanie losowej liczby od 1 do 10
    var randomNumber = Math.floor(Math.random() * 10) + 1;
    var randomNumberOrder = Math.floor(Math.random() * 100) + 1;

    // Zmiana numeru kasy w divie
    var coffeeInformDiv = randomNumber;
    
    // Pobranie elementu div
    var coffeeInformDivElement = document.querySelector('.coffee-inform');

    // Zaktualizowanie zawartości diva
    coffeeInformDivElement.innerHTML = 'Twoje zamówienie numer ' + randomNumberOrder +  ' zostało złożone. Zapłać przy kasie nr ' + coffeeInformDiv + ' :)';
</script>